 *{
  margin: 0;
  box-sizing: content-box;
  box-sizing: border-box;
 }
.savi-container{
  display: flex;
  flex-direction: column;
}
.header-content {
  background-color:#202020;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  justify-content: space-between;
  padding:20px 40px;
  align-items: center;
  align-content: center;
  margin: 0;
}
.burger {
  display: none;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  text-align: center;
  
}
.burger span {
  background: #fff;
  border-radius: 2px;
  transition: 0.3s;
}
.eye-icon{
  position: absolute;
  width: 55px;
  height: 25px;
  justify-items: center;
  left:170px;
  top:970px;
}
.logo-image {
  max-width: 163px;
  max-height: 85px;
  
}
.logo {
    max-width: 100%;
}
.home-img {
    color: #EEE4E4;
    width: 30px;
    height: 32px;
}
.home{
    max-width: 100%;
}
.categories{
  display: flex;
  flex-direction: row;
}
.categories-text {
  color:#ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Tenor Sans;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-right: 10px;
}
.categories-content{
  display: flex;
  flex-direction: row;
    
}
.categories-text p{
   padding-left: 40px;
   padding-right: 20px;
}
.icon-img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.icons-content{
  display: flex;
  flex-direction: row;
}

.notification {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: Tenor Sans;
  padding: 10px;
}
.banner-container {
  background-image: url('meadia/image-1.png');
  max-height: 463px;
  background-size: cover;
  justify-items: center;
  text-align: center;
  padding: 50px;
  
}

.banner-content{
    border-radius: 20px;
    background-color: #FFFFFF42;
    font-family: "Radley";
    font-size: 24px;
    font-weight: 400;
    color:#000000;
    max-width: 965px;
    height: 260px;
    padding:20px;
}
.banner-card{
    padding: 10px;
}
.button{
    width: 278px;
    height: 56px;
    border-radius: 7px;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 5px 15px 0px #252C6126;
    box-shadow: 0px 2px 4px 0px #8890C233;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-weight: 400;
    border-radius: 7px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 10px;

}
/*.pc-section-container{
 padding:20px;
}*/
.task-layer{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #0202021C;
  border-top:transparent;
  
}
.section-heading{
  font-family: Tenor Sans;
  font-size: 30px;
  font-weight: 400;
  color: #000000;

}
.view-more-content{
  font-family: Radley;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: end;
  color: #0023DD;
  text-decoration: underline;
  padding-right: 25px;
}
.check-more{
  color: #0023DD;
}
.heading-design{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.design{
  max-width: 100%;
}
.border-design{
  width: 413px;
  height: 21px;
}
.pc-section{
  padding: 35px;
  display: flex;
  flex-direction: column;
}
.product-container{
  display: flex;
  flex-direction: row;  
  justify-content: center;
}
.product-image-content{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.product-image {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 249px;
  height: 356px;
  width: 100%;
  height: auto;
}

.product-image .image {
  width: 100%;       
  height: 100%;      
  object-fit: cover; 
  display: block;
}
.product-image .faded {
  opacity: 0.5;
}
.product-image .eye-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;  
  height: auto;
  z-index: 2;
}

.image{
  max-width: 100%;
  max-height: 100%;
}
.product-title{
  display: flex;
  flex-direction: column;
  width: auto;
  border-radius: 0px 0px 10px 10px;
  background: #D9D9D94D;
    
}
.title{
  font-family: "Radley";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;

}
.price-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}
.price{
  font-family: 'Tenor Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #DD175E;

}
.whishlist{
  width: 20px;
  height: 18px;
  top: 1260px;
  left: 127px;
  gap: 0px;
  opacity: 0px; 
}
.cart{
  width: 20px;
  height: 18px;
  top: 1260px;
  left: 339px;
  gap: 0px;
  border: 2px 0px 0px 0px;
}
.footer-container{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  background-color: #000000;
  color: #ffffff;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-social img {
  font-size: 18px;
}
.footer-newsletter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom-notification{
  background-color: #D9D9D9;
  text-align: center;
}
.social-icon{
  width: 26px;
  height: 25px;
}
.email{
border: 1px solid white;
color: #D9D9D99E;
border-width: 1px;
margin: 5px;
background-color: #000000;
}


/* 1200 above laptop

big size screen min-width - 1440px
768px - 1024px - tab

max-width - 768px

max-width - 468px
*/

@media screen and (min-width: 1200px) {
  .categories-text p {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .product-container {
    justify-content: center;
  }
  .banner-content {
    font-size: 48px;
  }
  .section-heading{
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .header-content {
    padding: 50px 100px;
  }
  .banner-content {
    font-size: 52px;
    max-width: 1100px;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .header-content {
    flex-direction: row;
    align-items: center;
  }
  .logo-image {
    max-width: 67px;
    max-height: 37px;
    margin-left: 30px;
}
  .icon-img{
    width: 15px;
    height: 18px;
    margin-right: 10px;
  }
   .section-heading{
    font-size: 24px;
  }
  .categories-text {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
  }
  .notification{
    display: none;
  }
  .banner-content {
    font-size: 12px;
    height: auto;
    padding: 20px;
  }
  .button{
    background-color: #DD175E;
    font-size: 10px;
    color: #ffffff;
    width: 94px;
    height: 18px;
    border-radius: 7px;
    box-shadow: none;

  }
  .product-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .product-image-content {
    flex: 1 1 45%;
    max-width: 45%;
  }
  .footer-container {
    flex-direction: column;
   
  }
   .burger {
    display: flex;
  }
  .categories-text {
    display: none; 
  }
  .home-img {
    display: none; 
  }
}

@media screen and (max-width: 768px) {
  .categories-text {
    display: none; 
  }
  .home-img {
    display: none; 
  }
  .header-content {
    flex-direction: row;
    padding: 20px;
  }
  .categories-text {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  .icons-content {

    display: flex;
  }
  .banner-content {
    font-size: 12px;
    height: auto;
    padding: 15px;
    width: 430px;
  }
  .product-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  
  }
}

@media screen and (max-width: 468px) {

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .logo-image {
    max-width: 100px;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22px;
    height: 17px;
    cursor: pointer;
  }

  .burger span {
    display: block;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
  }
  .categories-text {
    display: none;
  }
 .icon-img{
  margin-right: 10px;
 }
  .icons-content {
    display: flex;
  }

  .icons-content img {
    width: 13px;
    height: 15px;
  }
  .notification {
    display: none;
  }

  .banner-content {
    width: initial;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  .banner-container{
  padding: 20px;

  }
  .button {
    font-size: 12px;
    padding: 8px 16px;
    background-color: #DD175E;
    width: 94px;
    height: 18px;
  }
  .border-design{
    display:none;
  }
  .heading-design{
    text-align: center;
    padding: 0px;
  }
  .section-heading {
    font-size: 10px;
}
  .task-layer{
    display: flex;
    flex-wrap: wrap;
  }

  .title{
    font-size: 10px;
  }
  .price{
    font-size: 7px;
  }
  .whishlist,.cart {
    width: 10px;
    height: 12px;
  }

  .product-container {
    flex-direction: row;
    align-items: center;
  }
  .product-image {
    text-align: center;
    width: 170px;
    height: 172px;
  }

  .footer-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
